<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /careers/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /careers/index.html [L]
</IfModule>